<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/style.css"> 
</head>
<body>
    <header class="main_header">
        <div class="main-header-topbar"><img class="logo" src="/static/images/logo-mercado-liebre.svg" />
        <p class="barra">Buscar</p>
        <div class="compra-en-cuotas"><i class="fab fa-cc-paypal" #></i>compra en cuotas y sin tarjeta de crédito</div></div>
        
        <a href="#" class="Burger"><i class="fas fa-bars" ></i></a>
        <nav class="main-nav-bar">
            <ul class="left-navbar">
                <li><a href="/">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Crea tu cuenta</a><i class="fas fa-cart-plus"></i></li>
                <li><a href="/Login">Ingresa</a><i class="fas fa-arrow-circle-right"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-hand-holding-usd"></i></li>
            </ul>
        </nav>
    </header>
<body class="login">
    <form>
        <Label>Nombre de usuario</Label>
        <br>
        <Input type="text" name="nombre_de_usuario" placeholder="PPedro22"></Input>
        <br>
        <Input type="password" name="contraseña" placeholder="Contraseña"></Input>
    </form>
    <button class="boton_envio" type="submit">Enviar<a href="/home"></a></button>
</body>
</html>