<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
<body class="login">
    <form class='form' style="margin-top: 20vh;">
        <Label><h2>Nombre de usuario</h2></Label>
        <br>
        <Input type="text" name="nombre_de_usuario" placeholder="PPedro22" class='control'></Input>
        <br>
        <Input type="password" name="contraseña" placeholder="Contraseña" class='control'></Input>
        <button class="boton_envio" type="submit" >Enviar<a href="/home"></a></button>
    </form>

    <%- include('partials/footer')%>
</body>
</html>