<%- include('partials/head')%>
<body>
    <%- include('partials/header')%>
<body class="login">
    <form>
        <Label>Nombre de usuario</Label>
        <br>
        <Input type="text" name="nombre_de_usuario" placeholder="PPedro22"></Input>
        <br>
        <Input type="password" name="contraseña" placeholder="Contraseña"></Input>
    </form>
    <button class="boton_envio" type="submit">Enviar<a href="/home"></a></button>
    <%- include('partials/footer')%>
</body>
</html>