<%- include('partials/head')%>
<body>
    <%- include('partials/header')%><img src="static/images/img-home-banner.jpg" alt="Banner">
    <main>
        <form>
            <input type="text" name="Nombre y apellido" placeholder="Nombre y apellido">
            <br>
            <input type="text" name="Nombre de usuario"  placeholder="Nombre de usuario">
            <br>
            <input type="email" name="Email"  placeholder="Email">
            <br>
            <label>Fecha de nacimiento</label>
            <br>
            <input type="date" name="Fecha de nacimiento">
            <br>
            <input type="text" name="Domicilio"  placeholder="Domicilio">
            <br>
            <label>Perfil de usuario</label>
            <div>
                <input type="radio" name="tipo_de _usuario" id="tipo_de _usuario" value="comprador">
                <label for="tipo_de _usuario">Comprador</label>
                <input type="radio" name="tipo_de _usuario" id="tipo_de _usuario" value="vendedor">
                <label for="tipo_de _usuario">Vendedor</label>
            </div>
            <label for="Intereses">Intereses</label>
            <br>
            <input type="checkbox" name="Electrodomésticos" id="Intereses"><label>Electrodomésticos</label>
            <br>
            <input type="checkbox" name="Moda" id="Intereses"><label>Moda</label>
            <br>
            <input type="checkbox" name="Hogar" id="Intereses"><label>Hogar</label>
            <br>
            <input type="checkbox" name="Juguetería" id="Intereses"><label>Juguetería</label>
            <br>
            <input type="checkbox" name="Vida sana" id="Intereses"><label>Vida sana</label>
            <br>
            <label for="foto_de_usuario">Foto de Perfil</label>
            <input type="file" name="foto_de_usuario" id="foto_de_usuario">
            <br>
            <input type="password" name="contraseña" placeholder="Contraseña">
            <input type="password" name="contraseña" placeholder="Confirma contraseña">
        </form>
        <button type="submit">Enviar<a href="/home"></a></button>
        <button type="reset">Borrar</button>
    </main>
    <%- include('partials/footer')%>
</body>
</html>