<footer>
    <section>
        <div class="centrar"><i class="far fa-credit-card"></i></div>
        <h2>Pagá con tarjeta o en efectivo</h2>
        <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</h4>
    </section>
    <section>
        <div class="centrar"><i class="fas fa-shipping-fast"></i></div>
        <h2>Envío gratis desde $ 2.500</h2>
        <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</h4>
    </section>
    <section>
        <div class="centrar"><i class="fas fa-user-lock"></i></i></div>
        <h2>Seguridad, de principio a fin</h2>
        <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</h4>
    </section>
    <section>
        <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
    </section>
</footer>