<header class="main_header">
    <div class="main-header-topbar"><img class="logo" src="images/logo-mercado-liebre.svg" />
    <p class="barra">Buscar</p>
    <div class="compra-en-cuotas"><i class="fab fa-cc-paypal" #></i>compra en cuotas y sin tarjeta de crédito</div></div>
    
    
    <a href="#" class="Burger"><i class="fas fa-bars" ></i></a>
    <nav class="main-nav-bar">
        <ul class="left-navbar">
            <li><a href="/">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>

        <ul class="right-navbar">
            <li><a href="/register">Crea tu cuenta</a><i class="fas fa-cart-plus"></i></li>
            <li><a href="/Login">Ingresa</a><i class="fas fa-arrow-circle-right"></i></li>
            <li><a href="#">Mis compras</a><i class="fas fa-hand-holding-usd"></i></li>
        </ul>
    </nav>
</header>