<div id="articulo">
    <img id="producto" src="/images/products/<%= element.image %>" alt="cafetera">
    <div id="caja">
        <i id="envio" class="fas fa-shipping-fast"></i>
        <h4 class="prices">$<%= element.price %></h4>
        <h4 class="discounts">%<%= element.discount %> OFF</h4>
        <h4 class="descriptions"><%= element.name %></h4>
    </div>
</div>